.headerTitle {
    text-align: center;
    font-size: 50px;
}

.mainContent {
    font-size: 25px;
    line-height: 80px;
    padding: 20px;
}

.chord{
    font-size: 35px;
    color: orangered;
    font-weight: bold;
    display: inline-flex;
    position: relative;
    top: -35px;
    width: 8px;
}