.headerTitle {
    text-align: center;
    font-size: 50px;
}

.mainContent {
    font-size: 40px;
    line-height: 80px;
    padding: 20px;
}

.chord{
    color: orangered;
    font-weight: bold;
    display: inline-flex;
    position: relative;
    top: -20px;
    width: 5px;
}