html, body{
    font-size: 40px;
}

.chord {
    position: relative;
}

.chord:before {
    color: orangered;
    font-weight: bold;
    display: block;
    position: absolute;
    content: "";
    top: -25px;
}

.chord.b-minor:before {
    content: "Bm";
}

.chord.g:before {
    content: "G";
}