/* ==UserStyle==
@name           www.elitetrader.com - 4/9/2023, 8:20:06 AM
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    Dark Theme for EliteTrader
@author         Me
==/UserStyle== */

@-moz-document url-prefix("https://www.elitetrader.com") {

    :root {
        --black: rgb(39, 37, 37);
        --white: rgb(212, 196, 196);
        --orange: rgb(221, 137, 33);
        --gray: rgb(94, 86, 86);
    }

    html,
    body {
        background-color: var(--black) !important;
        color: var(--white) !important;
    }

    .breadcrumb,
    .quoteContainer,
    div,
    ol,
    li {
        background-color: var(--black) !important;
    }

    a:link {
        color: var(--white) !important;
    }

    a:visited {
        color: var(--orange) !important;
    }

    [class^='brmsTabHandler_'],
    [class*=' brmsTabHandler_'] {
        background-color: var(--black) !important;
    }

    .BRMSContainer ul.brmsTabNav>li {
        text-shadow: none !important;
    }

    .BRMSContainer .brmsTabContent ol.brmsContentList li.first {
        border-top: none black !important;
    }

    .BRMSContainer .brmsNewItem .itemContent {
        background-color: transparent !important;
    }

    .breadcrumb .crust a.crumb>span {
        color: var(--black) !important;
    }

    .Responsive .redactor_toolbar li a {
        background-color: var(--gray) !important;
    }
    .BRMSContainer .brmsTabContent ol.brmsContentList li{
        border-top: 1px solid var(--gray) !important;
    }
}