<div class="card">
    <p class="cardHeader">Pull alpine image</h4>
    <p class="cardContent">docker pull alpine</p>
</div>
<br/>
<div class="card">
    <p class="cardHeader">Pull web server image</h4>
    <p class="cardContent">docker pull nginx:alpine</p>
</div>
<br/>
<div class="card">
    <p class="cardHeader">Run docker container</h4>
    <p class="cardContent">docker container run -i -t --name containerName alpine ash</p>
</div>
<br/>
<div class="card">
    <p class="cardHeader">Stop existing container</h4>
    <p class="cardContent">docker stop containerName</p>
</div>
<br/>
<div class="card">
    <p class="cardHeader">Remove existing container</h4>
    <p class="cardContent">docker rm containerName</p>
</div>