<div class="card">
    <p class="cardHeader">Pull alpine image</h4>
    <p class="cardContent">docker pull alpine</p>
</div>
<br/>
<div class="card">
    <p class="cardHeader">Pull web server image</h4>
    <p class="cardContent">docker pull nginx:alpine</p>
</div>
<br/>
<div class="card">
    <p class="cardHeader">Run docker container and connect to shell</h4>
    <p class="cardContent">docker container run -i -t --name containerName alpine ash</p>
</div>
<br/>
<div class="card">
    <p class="cardHeader">Run docker container in daemon mode</h4>
    <p class="cardContent">docker container run -d --name containerName -P ngnix:alpine</p>
</div>
<br/>
<div class="card">
    <p class="cardHeader">Stop existing container</h4>
    <p class="cardContent">docker stop containerName</p>
</div>
<br/>
<div class="card">
    <p class="cardHeader">Remove existing container</h4>
    <p class="cardContent">docker rm containerName</p>
</div>
<br/>
<div class="card">
    <p class="cardHeader">List existing running container. It will show linking ports</h4>
    <p class="cardContent">docker container ls</p>
</div>
<br/>
<div class="card">
    <p class="cardHeader">Link web container to localhost. Replace localhost with the ip of the host that you want to link</h4>
    <p class="cardContent">elinks --dump http://localhost:port</p>
</div>