<div class="card">
    <p class="cardHeader">Generate client classes with Axis2</h4>
    <p class="cardContent">
        Download Axis2 library from https://axis.apache.org/axis2/java/core/download.html
        ./wsdl2java -uri http://www.dneonline.com/calculator.asmx?WSDL -o ./output
    </p>
</div>
<div class="card">
    <p class="cardHeader">Use the client</h4>
    <p class="cardContent">keytool -list -keystore "c:\Program Files\Java\jdk-17\lib\security\cacerts" -storepass changeit</p>
</div>