<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/png" href="assets/img/favicon.png">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/styles.css?v=' | append: site.github.build_revision | relative_url }}">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css">

  <script src="https://code.jquery.com/jquery-3.6.3.min.js"
    integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>

</head>

<body>
  <table id="table_id" class="display">
    <thead>
      <tr>
        <th>Song</th>
        <th>Artist</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="songs/sabina_calle_melancolia.html">Calle Melancolía</a></td>
        <td>Sabina</td>
      </tr>
      <tr>
        <td><a href="songs/linkin_park_numb.html">Numb</a></td>
        <td>Linkin Park</td>
      </tr>
      <tr>
        <td><a href="songs/human_rag_and_bone_man.html">Human</a></td>
        <td>Rag'n'Bone Man</td>
      </tr>
      <tr>
        <td><a href="songs/Goyte_Somebody_that_I_used_to_know.html">Somebody that I used to know</a></td>
        <td>Goyte</td>
      </tr>
      <tr>
        <td><a href="songs/lynyrd_skynyrd_simple_man.html">Simple man</a></td>
        <td>Lynyrd Skynyrd</td>
      </tr>
      <tr>
        <td><a href="songs/danzig_mother.html">Mother</a></td>
        <td>Danzig</td>
      </tr>
      <tr>
        <td><a href="songs/beatles_while_my_guitar_gently_weeps.html">While my guitar gently weeps</a></td>
        <td>The Beatles</td>
      </tr>
      <tr>
        <td><a href="songs/rosendo_flojos_de_pantalon.html">Flojos de pantalón</a></td>
        <td>Rosendo</td>
      </tr>
      <tr>
        <td><a href="songs/whole_lotta_rosie_ac_cd.html">Whole lotta Rosie</a></td>
        <td>AC/DC</td>
      </tr>
      <tr>
        <td><a href="songs/I_see_fire_Ed_Sheran.html">I see fire</a></td>
        <td>Ed Sheran</td>
      </tr>
      <tr>
        <td><a href="songs/Silver_bullet_band_turn_the_page.html">Turn the page</a></td>
        <td>Silver Bullet Band</td>
      </tr>
      <tr>
        <td><a href="songs/journey_separate_ways.html">Separate ways</a></td>
        <td>Journey</td>
      </tr>
      <tr>
        <td><a href="songs/Journey_Dont_stop_believin.html">Dont Stop Believin’</a></td>
        <td>Journey</td>
      </tr>
      <tr>
        <td><a href="songs/a_star_is_borne_shallow.html">Shallow</a></td>
        <td>A start is borne</td>
      </tr>
      <tr>
        <td><a href="songs/kansas_carry_on_my_wayward_son.html">Carry on my wayward son</a></td>
        <td>Kansas</td>
      </tr>
      <tr>
        <td><a href="songs/Adele_SomeoneLikeYou.html">Someone like you</a></td>
        <td>Adele</td>
      </tr>
      <tr>
        <td><a href="songs/Bryan_Adams_Heaven.html">Heaven</a></td>
        <td>Bryan Adams</td>
      </tr>
      <tr>
        <td><a href="songs/The_Who_Behind_Blue_Eyes.html">Behind blue eyes</a></td>
        <td>The Who</td>
      </tr>
      <tr>
        <td><a href="songs/Sabina_Ruido.html">Ruido</a></td>
        <td>Sabina</td>
      </tr>
    </tbody>
    </tbody>
  </table>
</body>
<script>
  $(document).ready(function () {
    $('#table_id').DataTable({
      "pageLength": 100,
      "lengthChange": false
    });
  });
</script>

</html>